.app__navbar {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 400px;
        height: 40px;
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    
    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        a {
            color: var(--wolf-gray);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            font-weight: 900;
            font-size: large;

            &:hover {
                color: var(--sage-green);
            }
        }

        &:hover {
            border-bottom: 2px solid var(--sage-green);
        }
    } 
}