@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --black: #030303;
  --lightGray: #e4e4e4;
  --darkGray: #53565A;
  --loden-green: #6e7153;
  --wolf-gray: #737d84;
  --coyote-brown: #81613c;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}